<!-- Launch this file to playback new animations -->
<!-- It does not require a connected Kinect -->

<launch>
$(roscd kinect_tracker)
    <node pkg="kinect_tracker" type="KinectTracker" name="KinectTracker" output="screen" respawn="false">   
    
    	<!-- PUPPET PARAMETERS -->              
       	<param name="ply_names" value="fish_sub,policeCar_recolored_sub,gallardo_scan_sub,mini_culled3_sub,ambulance_sub,boat_kinect_recolored_sub,firetruck_sub,duck_fireman_recolored_sub,peter_griffin_kinect_recolored_sub,duck_cop_sampled,DumpTruck_sampled,CementTruck_sampled,BullDozer_sampled,Prius_Sampled,CowgirlDuck_sampled,Dino_sampled,Gator_sampled,Penguin_sampled,TuxDuck_sampled,duck_chef_sampled"/>
       	<param name="display_ply_names" value="fish,policeCar_recolored,gallardo_small,mini_recolor_resize,ambulance,boat_kinect_recolored,firetruck,duck_fireman_recolored,peter_griffin_kinect_recolored,duck_cop_recolored,DumpTruck,CementTruck,BullDozer,Prius_Final,CowgirlDuck,Dino,Gator,Penguin,TuxDuck,duck_chef_recolored"/>
    	<param name="model_names" value="fish_sub,policeCar_recolored_sub,gallardo_scan_sub,mini_culled3_sub,ambulance_sub,boat_kinect_recolored_sub,firetruck_sub,duck_fireman_recolored_sub,peter_griffin_kinect_recolored_sub,duck_cop_recolored,DumpTruck,CementTruck,BullDozer,Prius_Final,CowgirlDuck,Dino,Gator,Penguin,TuxDuck,duck_chef_recolored"/>
          
        <!-- BACKGROUND PARAMETERS -->         
        <param name="scene_names" value = "Covered_Bridge.ply,NewModernHouse_Valley_Exploded.dae,empty_intersection_expanded_one_sided_tri.dae,Living_Room.ply,stage.ply,house_large.ply,alley.ply," />
        <param name="scene_scaling" value = "0.0225,0.0008,0.0004,0.10,0.0008,0.00020,0.0015" />  
        <param name="scene_brightness" value = "0.0,0.0,1.0,0.0,0.0,0.0,0.0," />   
        <param name="background_image" value = "checkerboard_small.jpg"/>	  
        
        <!-- ANIMATION PARAMETERS --> 
        <param name="playback_mode" value = "true" />
        <param name="load_performance" value = "New_Fish_Pool_shadows" />
        <param name="save_performance" value = "NA" />            
                
       	<!-- The following parameters should never be changed for playback -->         
        <param name="icp_outlier_threshold" value = "0.20" /> 
        <param name="multi_core_tracker" value = "true" />        
        <param name="use_cloud_normals" value = "true"/>
        <param name="max_normal_difference_deg" value= "150"/>
        <param name="filter_correspondences" value= "true"/>
        <param name="filter_distance_ratio" value= "1.2"/>
        <param name="min_cloud_size" value = "125"/>
        <param name="queue_size" value = "3"/>
        <param name="use_SIFT" value = "true"/>
        <param name="publish_clouds" value = "false"/>
	
		<!-- The following parameters should never be changed-->
		 <param name="files_path" value="$(find kinect_tracker)/files/"/>      
        <param name="publish_outlier_clouds" value = "false"/>
        <remap from="incloud" to="/camera/rgb/points_seg"/>
        <remap from="outcloud" to="rgbd/cloud"/>   
        <remap from="rgb_feed" to="/camera/rgb/image_color"/>
        <remap from="bw_feed" to="camera/rgb/image_mono"/>    
        <remap from="depth_feed" to="/camera/depth_registered/image_rect"/>                   
	</node>
</launch>
